.logo{width: 500px}
.topbar{text-align: center;}
.topbar nav{
    background-color: black;
    text-align: left;
    padding: 10px;
}
.topbar nav a{
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
}
.topbar nav a:hover{
    background-color: darkgray;
    color: black;
}