.product{
    display: flex;
    border-bottom: 1px solid green;
    padding: 10px 5px;
}
.product img{
    margin-right: 15px;
}
.product h5{
    color: blue;
    font-weight: 500;
}
.black{color: black;}
button{
    background: #F0C14B;
    border: none;
    padding: 5px 35px;
    cursor: pointer;
    border: 1px solid #F0C14B;
}
button i{
    font-size: 120%;
    margin-right: 10px;
}